body{
  background-color: white;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url(../img/test_background_2.png);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.disableScroll {
  overflow: hidden;
}

.mainNav {
	position: fixed;
	width: 100%;
	z-index: 100;
  background-color: rgba(255, 255, 255, 0.98);
}

.navContainer {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.navDisplayToggleOff {
  display: none;
}

.navDisplayToggleOn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.navContainer a, .navContainer p {
 text-decoration: none;
 color: #eb0a60;
}

#navOptions {
  margin-top: -50px;
}

#navBars {
  padding: 10px;
}

/*Allows links within page to arrive at desired positioning */
#about, #workSamples, #testimonials, #contact {
  padding-top: 80px;
  margin-top: -80px;
}
/*******/
/*spacing issue*/
.navContainer a {
  font-size: xx-large;
  padding: 7% 0;
  margin: 5% 0;
}

.custom-cursor {
  /*cursor: url(../img/custom_cursor.png) 16 13, auto;*/
  cursor: crosshair;
}

.introBubble{
  animation: headerBob 2s linear infinite;
}

.introContainer {
  padding-top: 106px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.introContainer{
  background: #eb0a60;
}

.aboutContainer, .workSampleContainer, .contactContainer, .testimonialsContainer{
  padding-top: 25px;
  /*padding-bottom: 2px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(255, 255, 255, 0.95);*/
}

.introBubble, .aboutBubble, .workSampleBubble, .testimonialsBubble {
  font-family: 'Muli', sans-serif;
  background-color: #eb0a60;
  color: white;
  width: 50%;
  border-radius: 100%;
  text-align: center;
  padding: 15% 12%;
  box-shadow: -5px 8px 6px -6px grey;
  font-size: calc(16px + (20-16)*(100vw - 400px) / (800 - 400));
}

.imgWrapper {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.workSampleImg {
  width:  100%;
  margin: auto;
}

.workSampleText {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
}

.work-sample-content {
  font-family: 'Muli', sans-serif;
  background-color: #eb0a60;
  color: white;
  text-align: left;
  margin-top: 20px;
  font-size: calc(20px + (24-20)*(100vw - 400px) / (800 - 400));
  padding-bottom: 30px;
}

.contactBubble{
  /*background-color: transparent;*/
  width: 80%;
  border-radius: 100%;
  text-align: center;
  padding: 1% 1%;
}

.profile-photo {
  max-width: 100%;
  border-radius: 100%;
}

.introBubble{
  border: 5px solid white;
}

/*Consolidate the bottom two rules*/
.contactBubble:hover {
  transform: rotate(-10deg);
}

.aboutBubble, .workSampleBubble, .testimonialsBubble {
  transform: rotate(-10deg);
}

.bodyText{
  font-family: 'Muli', sans-serif;
  background-color: #eb0a60;
  color: white;
  text-align: left;
  font-size: calc(20px + (24-20)*(100vw - 400px) / (800 - 400));
  margin-top: 20px;
  padding: 25px 40px;
}

.shadow {
  box-shadow: 0 8px 10px -6px grey;
}

@keyframes headerBob {
	25% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(-5deg);
	}
  100% {
		transform: rotate(0deg);
	}
}

/* Media Queries
================================ */

@media (min-width: 500px) {
  .navContainer {
    flex-direction: column;
    align-items: center;
  }
  .displayOff {
    display: flex;
  }

}
