body{
  background-color: white;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url(../img/test_background_2.png);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

/*Global: anchors color white*/

.disableScroll {
  overflow: hidden;
}

.center {
  text-align: center;
}

.mainNav {
	position: fixed;
	width: 100%;
	z-index: 100;
  background-color: rgba(255, 255, 255, 0.98);
}

.navContainer {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.navDisplayToggleOff {
  display: none;
}

.navDisplayToggleOn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.navContainer a, .navContainer p {
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: #eb0a60;
}

#navOptions {
  margin-top: -50px;
}

#navBars {
  padding: 10px;
}

/*Allows links within page to arrive at desired positioning */
#about, #workSamples, #testimonials, #contact {
  padding-top: 140px;
  margin-top: -140px;
}
/*******/
/*spacing issue*/
.navContainer a {
  font-size: xx-large;
  padding: 7% 0;
  margin: 5% 0;
}

.custom-cursor {
  cursor: crosshair;
}

.introBubble{
  animation: headerBob 2s linear infinite;
}

.introContainer {
  padding-top: 106px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.introContainer{
  background: #eb0a60;
}

.aboutContainer, .workSampleContainer, .testimonialsContainer{
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.introBubble, .aboutBubble, .workSampleBubble, .testimonialsBubble {
  font-family: 'Muli', sans-serif;
  background-color: #eb0a60;
  color: white;
  /*width: 50%;*/
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-align: center;
  /*padding: 15% 12%;*/
  box-shadow: -5px 8px 6px -6px grey;
  font-size: calc(16px + (20-16)*(100vw - 400px) / (800 - 400));
  border: 8px white solid;
}

.workSampleText {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
}

.workSampleText p:nth-child(-n+6) {
  border-bottom: 7px white dotted;
  padding-bottom: 40px;
}

.workSampleText a {
  text-decoration: none;
  color: white;
}
.body-padder h2 {
  transform: rotate(-10deg);
  padding: 30px 0;
  font-family: 'Abril Fatface', cursive;
}

.work-sample-content {
  font-family: 'Muli', sans-serif;
  background-color: #eb0a60;
  color: white;
  text-align: left;
  margin-top: 20px;
  font-size: calc(20px + (24-20)*(100vw - 400px) / (800 - 400));
  padding-bottom: 30px;
  padding-top: 20px;
}

.contactBubble{
  text-align: center;
  padding: 10% 10%;
}

.profile-image{
  width: 55%;
  height: 55%;
  border-radius: 100%;
  border: 7px white solid;
}

.introBubble{
  border: 5px solid white;
}
.aboutBubble, .workSampleBubble, .testimonialsBubble {
  transform: rotate(-10deg);
}

.bodyText{
  font-family: 'Muli', sans-serif;
  background-color: #eb0a60;
  color: white;
  text-align: left;
  font-size: calc(20px + (24-20)*(100vw - 400px) / (800 - 400));
  padding: 25px 40px;
}

.shadow {
  box-shadow: 0 8px 10px -6px grey;
}

.contactContainer {
  /*background-color: rgba(255, 255, 255, 1);*/
  background-color: #eb0a60;
  border-top: 7px white solid;
  border-bottom: 7px white solid;
}

.contactIconContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

.contactIconContainer a {
  padding: 5%;
  margin: 5%;
  text-decoration: none;
  color: white;
  border: 3px white solid;
  border-radius: 100%;
}

@keyframes headerBob {
	25% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(-5deg);
	}
  100% {
		transform: rotate(0deg);
	}
}

/* Media Queries
================================ */

@media (min-width: 500px) {

  .introBubble, .aboutBubble, .workSampleBubble, .testimonialsBubble {
    font-family: 'Muli', sans-serif;
    background-color: #eb0a60;
    color: white;
    /*width: 50%;*/
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    text-align: center;
    /*padding: 15% 12%;*/
    box-shadow: -5px 8px 6px -6px grey;
    font-size: calc(16px + (17-16)*(100vw - 400px) / (1600 - 500));
    border: 8px white solid;
  }

  .bodyText{
    font-family: 'Muli', sans-serif;
    background-color: #eb0a60;
    color: white;
    text-align: left;
    font-size: calc(16px + (17-16)*(100vw - 400px) / (1600 - 500));
    padding: 25px 0;
    width: 100%;
    margin: auto;
  }

  .body-padder{
    width: 50%;
    margin: auto;
  }

  .work-sample-content {
    font-family: 'Muli', sans-serif;
    background-color: #eb0a60;
    color: white;
    text-align: left;
    margin-top: 20px;
    font-size: calc(16px + (17-16)*(100vw - 400px) / (1600 - 500));
    padding-bottom: 30px;
    padding-top: 20px;
    width: 100%;
    margin: auto;
  }
  .profile-image{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 7px white solid;
  }

  .contactBubble{
    text-align: center;
    padding: 30px 0;
  }
}
