/*     GLOBAL STYLES + UTILITY CLASSES
================================ */
body {
  background-color: white;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url(../img/test_background_2.png);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

h1 {
  font-size: 2.26em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

p {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: white;
}

.center {
  text-align: center;
}

/*Eliminate scroll option on desktop browsers when main-nav is full screen*/
.disable-scroll {
  overflow: hidden;
}

.skills-underline {
  text-decoration: underline;
}

/*Allows links within page to arrive at desired positioning */
#about, #workSamples, #testimonials, #contact, #aboutJump, #workJump, #testimonialJump {
  padding-top: 140px;
  margin-top: -140px;
}

#navBars, a {
  cursor: crosshair;
}

/*    ^  END GLOBAL STYLES + UTILITY CLASSES  ^    */

/*    NAV
================================ */

.main-nav {
	position: fixed;
	width: 100%;
	z-index: 100;
  background-color: rgba(255, 255, 255, 0.98);
}

.main-nav-opened {
	position: fixed;
	width: 100%;
	z-index: 100;
  background-color: rgba(255, 255, 255, 0.98);
}

.navContainer {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.navDisplayToggleOff {
  display: none;
}

.navContainerToggleOn {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navDisplayToggleOn {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navContainerToggleOn a, .navContainerToggleOn p {
  font-family: 'Muli', sans-serif;
  color: #eb0a60;
  /*font-size: 24px;*/
  padding: 10px;
}

#navOptions {
  margin-top: -50px;
}

#navBars {
  padding: 5px 50px;
  color: #eb0a60;
}

/*  ^  END  NAV  ^   */

/*     ANIMATIONS
================================ */

.introBubble {
  animation: headerBob 2s linear infinite;
}

.introBubble:hover {
  animation: headerBob .5s linear infinite;
  background: white;
  color: #eb0a60;
}

.profile-image:hover {
  animation: headerSpin 6s linear infinite;
}

.aboutBubble:hover, .workSampleBubble:hover, .testimonialsBubble:hover {
  animation: bodyBob 1s linear infinite;
}

@keyframes headerBob {
	25% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(-5deg);
	}
  100% {
		transform: rotate(0deg);
	}
}

@keyframes bodyBob {
  0% {
    transform: rotate(-10deg);
  }
	50% {
		transform: rotate(10deg);
	}
  100% {
		transform: rotate(-10deg);
	}
}

@keyframes headerSpin {
	0% {
		transform: rotate(0deg);
	}
  100% {
		transform: rotate(360deg);
	}
}

/*  ^ END ANIMATIONS ^   */

.introBubble {
  border: 5px solid white;
}

.aboutBubble, .workSampleBubble, .testimonialsBubble, .resume {
  transform: rotate(-10deg);
}

.bodyText {
  font-family: 'Muli', sans-serif;
  background-color: #eb0a60;
  color: white;
  text-align: left;
  /*font-size: 18px;*/
  padding: 25px 0;
}

.shadow {
  box-shadow: 0 8px 10px -6px grey;
}

.introTitleContainer {
  padding-top: 106px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.introTitleContainer {
  background: #eb0a60;
}

#about h1 {
  text-align: center;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: auto;
  border: 4px white solid;
  border-radius: 100%;
}

.resume:hover {
  background: white;
  color: #eb0a60;
}

.workSampleHover:hover h2 {
  text-decoration: underline;
}

.aboutTitleContainer, .workSampleTitleContainer, .testimonialsTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 25px;
}

.introBubble, .aboutBubble, .workSampleBubble, .testimonialsBubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Muli', sans-serif;
  background-color: #eb0a60;
  color: white;
  width: 260px;
  height: 260px;
  border-radius: 100%;
  box-shadow: -5px 8px 6px -6px grey;
  /*font-size: 18px;*/
  border: 8px white solid;
}

.introBubble p {
  font-size: 1.1em;
}

.body-padder {
  padding: 0 50px;
}

.workSampleText {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bordered-worksample {
  border-bottom: 7px white dotted;
  padding-bottom: 40px;
}

.last-worksample {
  padding-bottom: 40px;
}

.workSampleText h1 {
  transform: rotate(-10deg);
  padding: 30px 0;
  font-family: 'Abril Fatface', cursive;
}

.work-sample-content {
  font-family: 'Muli', sans-serif;
  background-color: #eb0a60;
  color: white;
  text-align: left;
  margin-top: 20px;
  /*font-size: 18px;*/
  padding-bottom: 30px;
  padding-top: 20px;
}

.contactBubble {
  text-align: center;
  padding: 10% 10%;
}

.profile-image {
  width: 55%;
  height: 55%;
  border-radius: 100%;
  border: 7px white solid;
}

.contactTitleContainer {
  background-color: #eb0a60;
  border-top: 7px white solid;
  border-bottom: 7px white solid;
}

.contactIconContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  font-size: 1.6em;
}

.contactIconContainer a {
  padding: 5%;
  margin: 5%;
  border: 3px white solid;
  border-radius: 100%;
}

.contactIconContainer a:hover{
  background: white;
  color: #eb0a60;
}

/* MEDIA QUERIES
================================ */

@media (min-width: 600px) {
  .introBubble, .aboutBubble, .workSampleBubble, .testimonialsBubble {
    width: 350px;
    height: 350px;
  }

  .bodyText {
    padding: 25px 0;
    width: 100%;
    margin: auto;
  }

  .body-padder {
    width: 50%;
    margin: auto;
    border-left: 7px white solid;
    border-right: 7px white solid;
  }

  .work-sample-content {
    padding-bottom: 30px;
    padding-top: 20px;
    width: 100%;
    margin: auto;
  }

  .profile-image {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 7px white solid;
  }

  .contactBubble {
    text-align: center;
    padding: 30px 0;
  }
  .contactIconContainer a {
    padding: 25px;
    margin: 25px;
  }
}

@media (min-width: 830px) {

  .main-nav {
    background-color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 10px 6px -6px #0433FF;
  }

  #navBars {
    /*font-size: 24px;*/
  }

  .introTitleContainer {
    padding-top: 66px;
  }
}
