// —————————————————————————————————————————————————————————————————————
// About component rules
// —————————————————————————————————————————————————————————————————————

.about {
  @extend %common-font-color;
  padding-bottom: 40px;

  &__skills-header {
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 10px;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__skills-list {
    margin-bottom: 25px;
    text-align: center;
    li {
      font-size: 16px;
    }
  }

  &__resume {
    @extend %flex-column;
    @include circle-border(2px);
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: auto;
    font-size: 16px;
    text-align: center;

    @media #{$large-breakpoint} {
      & :hover {
        background: white;
        color: $primary-bg;
      }
    }
  }
}
