// —————————————————————————————————————————————————————————————————————
// Shared component rules
// —————————————————————————————————————————————————————————————————————

.body-text-container {
  @extend %common-font-color;
  padding: 25px 0;
  box-shadow: $box-shadow--container;
}

.resume {
  transform: rotate(-10deg);
}

.section-header {
  @extend %common-font-color;
  padding: 50px 15px 20px;

  @media #{$large-breakpoint} {
    padding: 90px 20px 75px;
  }

  &__text {
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: $font-family--serif;

    @media #{$large-breakpoint} {
      display: inline;
      text-align: left;
      font-size: 200px;
      letter-spacing: -6px;
    }
  }
}
