// —————————————————————————————————————————————————————————————————————
// Shared component rules
// —————————————————————————————————————————————————————————————————————

.section-header {
  padding: 20px 25px 15px;

  @media #{$large-breakpoint} {
    padding: 90px 20px 75px;
  }

  &__text {
    font-size: 40px;
    font-family: $font-family--serif;

    @media #{$large-breakpoint} {
      display: inline;
      text-align: left;
      font-size: 200px;
      letter-spacing: -6px;
    }
  }
}

.section-body {
  &__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 10px;
  }

  &__container {
    padding: 0 25px;
    @media #{$medium-breakpoint} {
      width: 50%;
      margin: auto;
      border-left: 7px white solid;
      border-right: 7px white solid;
    }
  }
}

.wave {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: -5px;

  &__svg {
    display: block;
    width: 103vw;
    fill: $primary-bg;
  }
}
