.contact {
  @extend %common-font-color;
  position: relative;
  padding: 20px 0 40px;
  border-top: 5px white solid;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }

  @media #{$medium-breakpoint} {
    padding: 60px 0;
  }

  &__image {
    width: 40%;
    height: 40%;
    @include circle-border(4px);
    margin-bottom: 25px;
    @media #{$medium-breakpoint} {
      width: 200px;
      height: 200px;
    }
  }

  &__icon-container {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-size: 20px;

    @media #{$large-breakpoint} {
      font-size: 24px;
    }

    a {
      padding: 5%;
      margin: 5%;

      border-radius: 50%;
      @media #{$large-breakpoint} {
        padding: 15px;
        margin: 25px 10px;
      }

      &:hover {
        background: white;
        color: $primary-bg;
      }
    }
  }
}
