// —————————————————————————————————————————————————————————————————————
// Contact component rules
// —————————————————————————————————————————————————————————————————————

.title-container__div--contact {
  text-align: center;
  padding: 10%;
  @media #{$medium-breakpoint} {
    padding: 30px 0;
  }
}

.profile-image {
  width: 55%;
  height: 55%;
  @include circle-border(7px);
  @media #{$medium-breakpoint} {
    width: 250px;
    height: 250px;
  }
}

.title-container--contact {
  background-color: $primary-bg;
  border-top: 7px white solid;
  border-bottom: 7px white solid;
}

.contact-icon-container {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-size: 1.3em;
  @media #{$large-breakpoint} {
    font-size: 1.6em;
  }
}

.contact-icon-container a {
  padding: 5%;
  margin: 5%;
  @include circle-border(3px);
  @media #{$large-breakpoint} {
    padding: 25px;
    margin: 25px 10px;
  }
}

.contact-icon-container a:hover {
  background: white;
  color: $primary-bg;
}
