.contact {
  @extend %common-font-color;
  position: relative;
  padding: 30px 0 40px;
  border-top: 5px $white solid;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }

  @media #{$medium-breakpoint} {
    padding: 60px 0;
  }

  &__image {
    width: 40%;
    height: 40%;
    @include circle-border(4px);
    margin-bottom: 25px;

    @media #{$medium-breakpoint} {
      width: 200px;
      height: 200px;
      margin-bottom: 0;
    }
  }

  &__icon-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;

    a {
      padding: 5%;
      margin: 5%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      @media #{$large-breakpoint} {
        padding: 0;
        height: 50px;
        width: 50px;
        margin: 25px 10px;

        &:hover {
          background: $white;
          color: $primary-dark;
        }
      }
    }
  }

  &__icon {
    height: 30px;
    width: 30px;
    fill: currentColor;

    @media #{$medium-breakpoint} {
      height: 40px;
      width: 40px;
    }

    &--linked-in {
      height: 35px;
      width: 35px;

      @media #{$medium-breakpoint} {
        height: 45px;
        width: 45px;
      }
    }
  }
}
