// —————————————————————————————————————————————————————————————————————
// Nav component rules
// —————————————————————————————————————————————————————————————————————

.main-nav {
  &--collapsed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: $white--opacity;

    @media #{$large-breakpoint} {
      display: flex;
      bottom: 50px;
      right: 50px;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      box-shadow: 0 10px 6px -6px #0433ff;
      background-color: white;
      top: auto;
    }

    .main-nav__button {
      padding: 20px;
      border: none;
      width: auto;
      height: auto;
      margin: 0px;
      border-radius: 50%;
      transform: rotate(0deg);
      color: $accent;
    }
  }

  &--full-screen {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: $white--opacity;
  }

  &__button {
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    border: 1px solid $primary-bg;
    margin: auto;
    background: transparent;
    color: $primary-bg;
    z-index: 10;
    font-size: 22px;
    padding: 0;

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.2s 0.25s ease-in;
    }

    @media #{$large-breakpoint} {
      border-width: 2px;
      width: 80px;
      height: 80px;
      font-size: 24px;
    }
  }

  &__li {
    margin-bottom: 20px;

    @media #{$large-breakpoint} {
      margin-bottom: 40px;
    }
  }

  &__link {
    display: block;
    font-size: 1.25em;
    padding: 20px;
    color: $primary-bg;
    font-family: $font-family--sans-serif;

    &:hover {
      @media #{$large-breakpoint} {
        text-decoration: underline;
      }
    }

    @media #{$large-breakpoint} {
      font-size: 2em;
      width: 400px;
    }
  }
}

.nav-container--collapsed {
  text-align: center;
  margin: auto;
}

.nav-container--full-screen {
  height: 100vh;
  display: grid;
  justify-content: center;
}

.nav-options--collapsed {
  display: none;
}

.nav-options--full-screen {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
}
