.testimonial-name {
  font-weight: bold;
}

.testimonial-name:hover {
  text-decoration: underline;
}

.testimonial-title {
  font-style: italic;
}

.body-padding--bottom-margin {
  margin-bottom: 45px;
}
