.work-sample {
  text-align: center;
}

.work-sample__h2 {
  transform: rotate(-10deg);
  padding: 30px 0;
  font-family: $font-family--serif;
}

.work-sample__h2:hover {
  text-decoration: underline;
}

.work-sample__p {
  border-bottom: 7px white dotted;
  padding-bottom: 40px;
}

.work-sample__p--last {
  padding-bottom: 40px;
}
