$slight-snap-timing: cubic-bezier(0.53, 0.01, 0.36, 1.1);
$slight-snap-timing-2: cubic-bezier(0.53, 0.01, 0.36, 1.63);

#top-intersection {
  position: absolute;
  top: 0;
}

@keyframes headerBob {
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
