/// —————————————————————————————————————————————————————————————————————
// Animations
/// —————————————————————————————————————————————————————————————————————
$slight-snap-timing: cubic-bezier(0.53, 0.01, 0.36, 1.1);
$slight-snap-timing-2: cubic-bezier(0.53, 0.01, 0.36, 1.63);

@media (prefers-reduced-motion: no-preference) {
  .profile-image:hover {
    animation: fullSpin 6s linear infinite;
  }
}

@keyframes headerBob {
  25% {
    transform: rotate(5deg) translateY(0);
  }
  75% {
    transform: rotate(-5deg) translateY(0);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

@keyframes bodyBob {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes fullSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Background

.div-bg {
  position: fixed;
  left: 50%;
  transform: translateX(-50%) rotate(-20deg);
  box-shadow: 0 8px 10px -6px black;
  width: 670px;
  height: 50px;
  background: #103ffb;
  transition: transform 0.5s $slight-snap-timing;

  @media #{$medium-breakpoint} {
    height: 80px;
  }

  &--top {
    top: 205px;

    @media #{$medium-breakpoint} {
      top: 140px;
    }
  }

  &--bottom {
    top: 285px;

    @media #{$medium-breakpoint} {
      top: 275px;
    }
  }

  &--initial-left {
    transform: translateX(-200%) rotate(-20deg);
  }

  &--initial-right {
    transform: translateX(200%) rotate(-20deg);
  }

  &--fast {
    transition: transform 0.25s $slight-snap-timing-2;
  }

  &--wide-left {
    transform: translateX(-55%) rotate(-20deg);
  }

  &--wide-right {
    transform: translateX(-45%) rotate(-20deg);
  }
}
