/// —————————————————————————————————————————————————————————————————————
// Base styles
// —————————————————————————————————————————————————————————————————————

body {
  background-color: white;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h2 {
  font-size: 1.8em;
  @media #{$medium-breakpoint} {
    font-size: 2.26em;
  }
}

h3,
.text-3 {
  font-size: 1.5em;
  @media #{$medium-breakpoint} {
    font-size: 2em;
  }
}

h4 {
  font-size: 1.3em;
  @media #{$medium-breakpoint} {
    font-size: 1.6em;
  }
}

p,
li {
  font-size: 1.1em;
  @media #{$medium-breakpoint} {
    font-size: 1.5em;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

section {
  // position: relative;
  // z-index: 1;
}

/// —————————————————————————————————————————————————————————————————————
// Utility classes
/// —————————————————————————————————————————————————————————————————————

.center {
  text-align: center;
}

// Eliminate scroll option on desktop browsers when main-nav is full screen
.disable-scroll {
  padding: 0;
  overflow: hidden;
}

#nav-bars,
a {
  cursor: crosshair;
}

// Screen reader text
.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
