/// —————————————————————————————————————————————————————————————————————
// Base styles
// —————————————————————————————————————————————————————————————————————

body {
  background-color: white;
}

h2 {
  font-size: 1.8em;
  @media #{$medium-breakpoint} {
    font-size: 2.26em;
  }
}

h3 {
  font-size: 1.5em;
  @media #{$medium-breakpoint} {
    font-size: 2em;
  }
}

h4 {
  font-size: 1.3em;
  @media #{$medium-breakpoint} {
    font-size: 1.6em;
  }
}

p,
li {
  font-size: 1.1em;
  @media #{$medium-breakpoint} {
    font-size: 1.5em;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/// —————————————————————————————————————————————————————————————————————
// Utility classes
/// —————————————————————————————————————————————————————————————————————

.center {
  text-align: center;
}

// Eliminate scroll option on desktop browsers when main-nav is full screen
.disable-scroll {
  padding: 0;
  overflow: hidden;
}

#nav-bars,
a {
  cursor: crosshair;
}

// Screen reader text
.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Background-related styles

section {
  position: relative;
  z-index: 1;
}

.div-bg {
  position: fixed;
  left: 50%;
  transform: translateX(-50%) rotate(-20deg);
  box-shadow: 0 8px 10px -6px black;
  width: 670px;
  height: 50px;
  background: #103ffb;
  transition: transform 0.5s cubic-bezier(0.53, 0.01, 0.36, 1.1);

  @media #{$medium-breakpoint} {
    height: 80px;
  }

  &--top {
    top: 205px;

    @media #{$medium-breakpoint} {
      top: 140px;
    }
  }

  &--bottom {
    top: 285px;

    @media #{$medium-breakpoint} {
      top: 275px;
    }
  }

  &--initial-left {
    transform: translateX(-200%) rotate(-20deg);
  }

  &--initial-right {
    transform: translateX(200%) rotate(-20deg);
  }

  &--fast {
    transition: transform 0.25s cubic-bezier(0.53, 0.01, 0.36, 1.63);
  }

  &--left {
    transform: translateX(-55%) rotate(-20deg);
  }

  &--right {
    transform: translateX(-45%) rotate(-20deg);
  }
}
