// —————————————————————————————————————————————————————————————————————
// Layout rules
// —————————————————————————————————————————————————————————————————————

.body-padder {
  padding: 0 50px;
  @media #{$medium-breakpoint} {
    width: 50%;
    margin: auto;
    border-left: 7px white solid;
    border-right: 7px white solid;
  }
}

/*Allows links within page to arrive at desired positioning */
#about,
#work-samples,
#testimonials,
#contact,
#about-jump,
#work-jump,
#testimonial-jump {
  padding-top: 70px;
  margin-top: -70px;
}
