
.aboutBubble, .workSampleBubble, .testimonialsBubble, .resume {
  transform: rotate(-10deg);
}

// Container for all pink background content areas
.body-text-container {
  font-family: $font-family--sans-serif;
  background-color: $hot-pink;
  color: $white;
  text-align: left;
  padding: 25px 0;
  box-shadow: $box-shadow;
  @media #{$medium-breakpoint} {
    padding: 25px 0;
    width: 100%;
    margin: auto;
  };
}

.about__h2--headline {
  text-align: center;
}

.resume {
  @extend %flex-column;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: auto;
  border: 4px white solid;
  border-radius: 100%;
}

.resume:hover {
  background: white;
  color: $hot-pink;
}

.aboutTitleContainer, .workSampleTitleContainer, .testimonialsTitleContainer {
  @extend %flex-column;
  // justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 25px;
}

.introBubble, .aboutBubble, .workSampleBubble, .testimonialsBubble {
  @extend %flex-column;
  // align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $font-family--sans-serif;
  background-color: $hot-pink;
  color: $white;
  width: 260px;
  height: 260px;
  border-radius: 100%;
  box-shadow: -5px 8px 6px -6px grey;
  border: 8px white solid;
  @media #{$medium-breakpoint} {
    width: 350px;
    height: 350px;
  }
}

.workSampleText {
  @extend %flex-column;
  text-align: center;
}

.workSampleHover:hover h2 {
  text-decoration: underline;
}

.bordered-worksample {
  border-bottom: 7px white dotted;
  padding-bottom: 40px;
}

.last-worksample {
  padding-bottom: 40px;
}

.workSampleText h2 {
  transform: rotate(-10deg);
  padding: 30px 0;
  font-family: $font-family--fantasy;
}

.work-sample-content {
  font-family: $font-family--sans-serif;
  background-color: $hot-pink;
  color: $white;
  text-align: left;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
  box-shadow: $box-shadow;
  @media #{$medium-breakpoint} {
    padding-bottom: 30px;
    padding-top: 20px;
    width: 100%;
    margin: auto;
  }
}

.body-padder--bottom-margin {
  margin-bottom: 45px;
}

.contactBubble {
  text-align: center;
  padding: 10%;
  @media #{$medium-breakpoint} {
    padding: 30px 0;
  }
}

.profile-image {
  width: 55%;
  height: 55%;
  border-radius: 100%;
  border: 7px white solid;
  @media #{$medium-breakpoint} {
    width: 250px;
    height: 250px;
  }
}

.contactTitleContainer {
  background-color: $hot-pink;
  border-top: 7px white solid;
  border-bottom: 7px white solid;
}

.contactIconContainer {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-size: 1.4em;
  @media #{$medium-breakpoint} {
    font-size: 1.6em;
  }
}

.contactIconContainer a {
  padding: 5%;
  margin: 5%;
  border: 3px white solid;
  border-radius: 100%;
  @media #{$medium-breakpoint} {
    padding: 25px;
    margin: 25px;
  }
}

.contactIconContainer a:hover{
  background: white;
  color: $hot-pink;
}
