// —————————————————————————————————————————————————————————————————————
// Component extends
// —————————————————————————————————————————————————————————————————————

%flex-column {
  display: flex;
  flex-direction: column;
}

@mixin circle-border($size) {
  border-radius: 100%;
  border: $size white solid;
}
