// —————————————————————————————————————————————————————————————————————
// Component extends
// —————————————————————————————————————————————————————————————————————

%flex-column {
  display: flex;
  flex-direction: column;
}

%common-font-color {
  font-family: $font-family--sans-serif;
  background-color: $hot-pink;
  color: $white;
}

// —————————————————————————————————————————————————————————————————————
// Component mixins
// —————————————————————————————————————————————————————————————————————

@mixin circle-border($size) {
  border-radius: 100%;
  border: $size white solid;
}
