.title-container--intro {
  padding-top: 130px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  background: $hot-pink;
  box-shadow: $box-shadow--container;
  @media #{$large-breakpoint} {
    padding-top: 66px;
  }
}

.title-container__div--intro p {
  font-size: 1em;
  @media #{$medium-breakpoint} {
    font-size: 1.15em;
  }
}
