// —————————————————————————————————————————————————————————————————————
// Nav component rules
// —————————————————————————————————————————————————————————————————————

.main-nav--collapsed {
	position: fixed;
	width: 100%;
	z-index: 100;
  background-color: $white--opacity;
	@media #{$large-breakpoint} {
		background-color: white;
    bottom: 50px;
    right: 50px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 10px 6px -6px #0433FF;
  }
}

.main-nav--full-screen {
	position: fixed;
	width: 100%;
	z-index: 100;
  background-color: $white--opacity;
}

.nav-container--collapsed {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.nav-options--collapsed {
  display: none;
}

.nav-options--full-screen {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-container--full-screen {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
	justify-content: center;
	@media #{$large-breakpoint}{
		justify-content: space-around;
	}
}

.nav-container--full-screen a, .nav-container--full-screen p {
  font-family: $font-family--sans-serif;
  color: $hot-pink;
  padding: 10px;
}

.menu-anchor h3 {
	@media #{$medium-breakpoint}{
		font-size: 1.5em;
		margin: .9vw;
		padding: 5px;
	}
	@media #{$large-breakpoint}{
		font-size: 2em;
		margin: 2vw;
		padding: inherit;
	}
}

.menu-anchor:hover {
	text-decoration: underline;
}

#nav-options {
  margin-top: -50px;
}

#nav-bars {
  padding: 30px;
	margin: -15px 0px;
  color: $hot-pink;
	@media #{$large-breakpoint}{
		padding: 25px;
	}
}
